---
layout: default
title: CTFs
description: Some CTFs our team has played in the past!
---

<h1>Past CTFs</h1>
<p>Here are some of the CTFs i played with my team <a href="https://ctftime.org/team/280918">CrémeTartinéFabuleuse</a></a></p>

{% for year in site.data.ctfs.ctfs %}
    <h2 class="ctf-year">{{ year.year }}</h2>    
    <ul class="ctf-cards">
        {% for ctf in year.ctfs %}
            <li>
                <div class="ctf-details">
                    {% if ctf.place == "author" %}
                    <div class="ctf-organizers">author</div>
                    {% else %}
                    <div class="ctf-place">#{{ ctf.place }}</div>
                    {% endif %}
                    {% if ctf.id !=0 %}
                    <div class="ctf-time-link">
                        <a href="https://ctftime.org/event/{{ ctf.id }}">CTF Time</a> →
                    </div>
                    {% else %}
                    <div class="ctf-time-link">local CTF</div>
                    {% endif %}
                </div>
                <div class="ctf-name">
                    {{ ctf.name }}
                </div>
            </li>
        {% endfor %}
    </ul>
{% endfor %}
